body {
    text-align: center;
}

.mountain-bg-color { 
  background: blue; 
  transition: background-color 1s;
}

.beach-bg-color { 
  background: yellow;
  transition: background-color 1s; 
}

.road-bg-color { 
  background: gray;
  transition: background-color 1s; 
}

.city-bg-color { 
  background: tan;
  transition: background-color 1s; 
}




/*.blue {
    background: blue;
    transition: background-color 2s;
}*/