body {
  text-align: center;
}

img { 
  max-width: 100%;
  border: 10px solid #fff;

}

.mountain-bg-color { 
  background: #4A756E; 
  transition: background-color 1s;
}

.beach-bg-color { 
  background: #8D433F;
  transition: background-color 1s; 
}

.road-bg-color { 
  background: #B7B8BD;
  transition: background-color 1s; 
}

.city-bg-color { 
  background: #F09729;
  transition: background-color 1s; 
}