body {
    text-align: center;
}

.mountain-bg-color { background: blue; }
.beach-bg-color { background: yellow; }
.road-bg-color { background: gray; }
.city-bg-color { background: tan; }



/*.blue {
    background: blue;
    transition: background-color 2s;
}*/